
:root{
    --gap: 1em;
    --index: calc(1vw + 1vh);
    --color-dark: #000;
  } .profile__page{
    min-height: calc(100vh - 270px);
    font-size: calc(var(--index) * .7);   
}
.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.profile__post{
    display: flex;
    flex-wrap: wrap;
}
.profile__posts{
    width: 100%;
}
.title__button {
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save__button {
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 168px;
    height: 30px;
    background-color: #7E5BC2;
    border-radius: 10px;
  }

@media screen and (max-width: 390px){
    .title__button {
        width: 100%;
    }
}
