.profile__block {
    display: flex;
    margin-top: 40px;
    width: 50%;
    gap: 40px;
}

.profile_img{
    border-radius: 50%;
}
.info__item{ 
    display: flex;
    vertical-align: middle;
    text-align: center;
    gap: 28px;
    margin-top: 20px;
}
.info__title{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
    color: #151515;
    width: 20%;
    text-align: left;
}
.icon__delete{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
     color: #000000;
     cursor: pointer;
}
.icon__add {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
cursor: pointer;
padding-right: 5px;
color: #000000;
}
.info__input {
    width: 272px;
    outline: none;
    padding-left: 8px;
    height: 38px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background: url('../../assets/img/edit.png') no-repeat scroll 96% 11px;
}
.button__wrap{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}




@media screen and (max-width: 390px){
    .profile__block{
        margin-top: 0;
    }
    .info__item{
        gap: 8px;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .profile_img{
        width: 135px;
        height: 135px;
    }
    .profile__avatar{
        width: 30%;
    }
    .info__edit{
        width: 70%;
        padding-left: 57px;
    }
    .title__favorite-new {
        font-size: 24px;
       
    }
    .save__button.save__button--plus{
        width: 20px;

    }
    .info__input{
        height: 35px;
    }
    .profile__edit{
        width: 120px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
