.checkboxWrap {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox{
    padding-right: 18px;
}
.checkmark {
    position: absolute;
    top: 0;
    left: -40px;
    width: 19px;
    height: 19px;
    margin-right: 0;
    padding-right: 0;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #fff;
  }
  .checkboxs{
    margin-left: 48px;
}

.checkbox-text {
    text-align: left;
}
.checkboxWrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }


  .checkboxWrap input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkboxWrap input:checked ~ .checkmark:after {
    display: block;
  }
  .checkboxWrap .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }