.container.container__favorite{
    max-width: 1140px;
    margin: 0 auto;
}



/* Страница новости NewsItem*/
/* .content{
   
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
} */


