
.news__block{
    text-align: left;
}

.news__title{
   padding: 10px 0 10px 0;
}
.news__description{
    padding: 10px 0 10px 0;
}
.back__btn{
    padding: 10px 0 10px 0;
}
.comment__block{
    padding-bottom: 20px;
    line-height: 28px;
}
.comment{
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
}
.comment__input{
    padding-left: 7px;
    width: 274px;
    height: 36px;
    margin-right: 16px;
    max-width: 290px;
    height: 32px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid #E4DFDC;
}
.comment__text{
    margin: 30px 0;
}

/* Модалка для ответа к комментарии */
.answer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 485px;
    padding: 15px 0;
  
}

.share__btn{
    border: none;
    display: flex;
    background: none;
}


