
.news__block{
    text-align: left;
}
.reply{
    display: flex;
    justify-content: space-between;
    max-width: 180px;
}
.news__title{
   padding: 10px 0 10px 0;
}
.news__description{
    padding: 10px 0 10px 0;
}
.back__btn{
    padding: 10px 0 10px 0;
}
.comment__block{
    padding-bottom: 20px;
}
.comment{
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
}
.comment__input{
    padding-left: 7px;
    margin-right: 16px;
    max-width: 290px;
    height: 25px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid #E4DFDC;
}

.user__nick{
    font-weight: 700;
    font-size: 18px;
}
/* Модалка для ответа к комментарии */
.answer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 485px;
    padding: 15px 0;
  
}
.reply__btn{
    border: none;
    text-decoration: underline;
    color: 
    #7E5BC2;
    font-family: 'Ubuntu';

font-size: 16px;

}
.share__btn{
    border: none;
    display: flex;
    background: none;
}

.comment__input{
    width: 274px;
    height: 27px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}
