
.news__info--favorite_block{
width: 75%;
}
.title__favorite-new{
    font-size: 35px;
    padding-bottom:10px ;
    text-align: left;
}
.favorite__content{
        margin-top: 30px;
        margin-right: 25px;
}
