.favorite__block{
    min-height: calc(100vh - 275px);
    font-size: calc(var(--index) * .7);
}
.news__info--favorite_block{
    width: 75%;
}
.title__favorite-new{
    font-size: 35px;
    padding-bottom:10px ;
    text-align: left;
}
.favorite__content{
   margin-top: 30px;
}

@media screen and (max-width: 990px){
.favorite__content{
    display: flex;
    margin-left: 15px;
    flex-wrap: wrap;
    justify-content:space-between ;
    }
} 


@media screen and (max-width: 390px){
.favorite__content {
    margin-top: 0px;
}
}